<header class="header">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () { 
      const urlParams = new URLSearchParams(window.location.search);
      const user = urlParams.get('USER');
      const user_id = urlParams.get('ID');

      const server = urlParams.get('SERVER');
      
      document.getElementById('gitea_url').href = "http://gitea-gitea.apps." + server;
      document.getElementById('ide_url').href = "https://devspaces.apps." + server;
      document.getElementById('ocp_url').href = "https://console-openshift-console.apps." + server;
      document.getElementById('argo_url').href = "https://openshift-gitops-server-openshift-gitops.apps." + server;
    

    if (user) {
        showUser( user );
      } else {
        showUserForm();
      }
    } );


    function showUser( user ) {
      document.getElementById('navbar-form-project-empty').style.display = "none";
      document.getElementById('navbar-form-project-filled').style.display = "flex";
      document.getElementById('project').textContent = user;
      document.getElementById('projectfield2').value = user;
    }

    function showUserForm( user ) {
      document.getElementById('navbar-form-project-empty').style.display = "flex";
      document.getElementById('navbar-form-project-filled').style.display = "none";
    }

    function goWithUser() {
      elUserInput = document.getElementById('projectfield');
      [, numStr] = elUserInput.value.split('-');    // split on “-” → ["user","42"]
      userid = Number(numStr);         // 42 (as a number)
      elClusterInput = document.getElementById('clusterfield2');
      urlParams = new URLSearchParams(window.location.search);
      server = urlParams.get('SERVER');
      window.location.search = ( 'SERVER=' + server + '&USER=' + elUserInput.value + '&ID=' + userid);
    }

  </script>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://developers.redhat.com" target="_blank"><img
          src="{{uiRootPath}}/img/header_logo.png" height="40px" alt="Red Hat Developer Program"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

         <div class="navbar-item" id="navbar-form-project-empty">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>

          <form action="javascript:void(0);" onsubmit="goWithUser();">
            <input size="40" id="projectfield" type="text" placeholder="Enter user">
            <input type="hidden" id="clusterfield2" name="clusterfield2" value="">
          </form>
        </div>

        <div class="navbar-item" id="navbar-form-project-filled" style="display: none;">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-user" aria-hidden="true"></i></span>
          <span class="navbar-text" id="project"></span>
          
        </div>

        <div class="navbar-item" id="navbar-form-project-filled" >
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
        </div> 

        <a class="navbar-item" id="gitea_url" href="" target="_blank">Repositorio</a>
        <a class="navbar-item" id="ide_url" href="" target="_blank">IDE</a>
        <a class="navbar-item" id="ocp_url" href="" target="_blank">OpenShift</a>
        <a class="navbar-item" id="argo_url" href="" target="_blank">ArgoCD</a>

    </div>
  </nav>
</header>
